.order {
    display: flex;
    flex-direction: row;
    width: 85%;
    @include margin-y(5vh);

    form {
        @include center-elements(center, center);
        flex-direction: column;

        div {
            width: 60%;
            @include center-elements(center, start);
            padding: 1.5vh;
            flex-direction: column;

            label {
                color: $color-white;
                margin-bottom: 0.2rem;
                font-size: 1.3rem;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            input {
                width: 100%;
                padding: 0.5rem;
                border-radius: 5px;
            }

            input.error {
                background-color: $button-danger-bg;
                border-color: $button-danger-bg;
                box-shadow: 0 0 2px $color-red;
                color: $color-white;

                &:active,
                &:focus {
                    background-color: $button-danger-hover-bg;
                    border-color: $button-danger-hover-bg;
                }
            }

            div.error {
                color: $color-red;
            }
        }
    }
}

.order-form {
    flex-grow: 1;
}

.cart-wrapper {
    display: flex;
    width: 50%;
}
