$primary-color: #3f3f3f;
$secondary-color: #252424;

$color-white: #ffffff;
$color-red: #ff0000;
$color-black: #000000;

$main-navigation-color: white;

$nav-links-color: #292929;
$nav-links-hover-bg: #f8df00;
$nav-links-hover-border: #292929;
$nav-links-hover-color: #292929;

$button-border: 1px solid #1157ef;
$button-bg: #2968ee;
$button-color: white;
$button-hover-bg: #2e8fff;
$button-hover-border: #2e8fff;
$button-inverse-color: #ff0055;
$button-inverse-hover-color: white;
$button-inverse-hover-bg: #ff0055;
$button-danger-bg: #830000;
$button-danger-border: #830000;
$button-danger-hover-bg: #f34343;
$button-danger-hover-border: #f34343;
$button-disabled-bg: #ccc;
$button-disabled-color: #979797;
$button-disabled-border: #ccc;

$modal-background: white;
$modal-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$modal-header-bg: #2a006e;
$modal-header-color: white;

$spinner-ring-color: #510077;
$overlay-bg: rgba(0, 0, 0, 0.6);

$card-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$card-bg: white;

$backdrop-bg: rgba(0, 0, 0, 0.75);
