$main-navigation-btn-size: 3rem;
$main-navigation-btn-spacing: 2rem;
$main-navigation-line-height: 2.5px;

$nav-links-margin: 1rem;
$nav-links-padding: 0.5rem;
$nav-links-border: 1px solid transparent;
